<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Datos del creador</ion-card-subtitle>
      <ion-card-title>Mis Datos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="img" src="../../assets/img/yo.png" alt="">
     <ion-item>
      <ion-label>Nombres:</ion-label>
      Francis Bryant
     </ion-item>
     <ion-item>
      <ion-label>Apellidos:</ion-label>
      Beltre Martinez
     </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
