<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ver uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let di of getdigimon">
    <ion-card-header>
      <ion-card-title>{{di.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button (click)="abrirM(di.name)" color="dark">Abrir Digimon</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
